{{define "collection-breadcrumbs"}}
    {{if and .Collection (not .SingleUser)}}<nav id="org-nav"><a href="{{bp "/me/c/"}}">Blogs</a> / <a class="coll-name" href="{{bp (printf "/%s/" .Collection.Alias)}}">{{.Collection.DisplayTitle}}</a></nav>{{end}}
{{end}}

{{define "collection-nav"}}
    {{if not .SingleUser}}
    <header class="admin">
        <nav class="pager">
            {{if .CanPost}}<a href="{{if .SingleUser}}{{bp "/me/new"}}{{else}}{{bp (printf "/#%s" .Alias)}}{{end}}" class="btn gentlecta">New Post</a>{{end}}
            <a href="{{bp (printf "/me/c/%s" .Alias)}}" {{if and (hasPrefix .Path "/me/c/") (hasSuffix .Path .Alias)}}class="selected"{{end}}>Customize</a>
            <a href="{{bp (printf "/me/c/%s/stats" .Alias)}}" {{if hasSuffix .Path "/stats"}}class="selected"{{end}}>Stats</a>
            <a href="{{bp (printf "/me/c/%s/subscribers" .Alias)}}" {{if hasSuffix .Path "/subscribers"}}class="selected"{{end}}>Subscribers</a>
            <a href="{{if .SingleUser}}{{bp "/"}}{{else}}{{bp (printf "/%s/" .Alias)}}{{end}}">View Blog &rarr;</a>
        </nav>
    </header>
    {{end}}
{{end}}
